.lists{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  margin-top: 30px;
}

.list-item {
  width: 100%;
  background-color: #629584;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 5px;
  border-radius: 10px;
  margin-block: 10px;
  overflow: hidden;
}

.list-item span {
  font-size: 1.25rem;
  width: 75%;
  overflow: hidden;
  padding-left: 10px;
}

.buttons {
  padding-inline-end: 5px;
}

.buttons button {
  background: none;
  border: none;
  padding-inline: 5px;
}

.uncheck, .checked, .delete {
  font-size: 1.5rem;
  cursor: pointer;
}

.uncheck {
  display: none;
}

.checked { 
  display: none;
}

.checked.active {
  display: inline-block;
  color: #cfc;
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 0, 1));
}

.uncheck.active {
  display: inline-block;
  color: #ccc;
  filter: drop-shadow(0px 0px 2px rgba(0, 255, 255, .9));
}

.delete {
  color: brown;
  font-size: 1.6rem;
}

.line-through {
  text-decoration: line-through;
  /* text-decoration-thickness: 2px; */
}

.no-line-through {
  text-decoration: none;
}


@media (max-width: 488px) {
  .lists {
    width: 90%;
  }

  .list-item span {
    width: 73.5%;
  }

  .buttons {
    padding-inline-end: 0;
  }

  .buttons button {
    padding-inline: 2px;
  }
}
